<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <alex_fin>
            <settings>
                <quantity>3</quantity>
            </settings>
        </alex_fin>
    </default>
</config>