<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Alex\Fin\Api\TabletsRepositoryInterface"
                type="Alex\Fin\Model\TabletsRepository"/>
    <preference for="Alex\Fin\Api\Data\TabletsInterface"
                type="Alex\Fin\Model\TabletsModel"/>
    <preference for="Alex\Fin\Api\TabletsCasesRepositoryInterface"
                type="Alex\Fin\Model\TabletsCasesRepository"/>
    <preference for="Alex\Fin\Api\Data\TabletsCasesInterface"
                type="Alex\Fin\Model\TabletsCasesModel"/>

</config>