<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <roma_test>
            <settings>
                <use_ajax>1</use_ajax>
            </settings>
        </roma_test>
    </default>
</config>
