<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Roma\Test\Api\CarCustomerRepositoryInterface"
                type="Roma\Test\Model\CarCustomerRepository"/>
    <preference for="Roma\Test\Api\Data\CarCustomerInterface"
                type="Roma\Test\Model\CarCustomerModel"/>
    <preference for="Roma\Test\Api\CarRepositoryInterface"
                type="Roma\Test\Model\CarRepository"/>
    <preference for="Roma\Test\Api\Data\CarInterface"
                type="Roma\Test\Model\CarModel"/>
    <preference for="Roma\Test\Api\CarsServiceInterface"
                type="Roma\Test\Model\CarsService"/>
    <preference for="Roma\Test\Api\CustomersServiceInterface"
                type="Roma\Test\Model\CustomersService"/>

    <preference for="Roma\Test\Model\CarCustomerModel" type="Roma\Test\Preference\Model\PreferenceModel"/>
</config>